* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(285, 255, 239);
}

.main-game {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.genius {
    display: grid;
    grid-template-areas:'green-area red-area'
    'yellow-area blue-area';
    grid-gap: 10px;
    border: 1px solid #FFF;
    background-color: #FFF;
    border-radius: 100%;
    width: 600px;
    height: 600px;
}

.blue-area {
    grid-area: blue-area;
    background-color: #2121d6e1;
    border-bottom-right-radius: 100%;
   
}

.yellow-area {
    grid-area: yellow-area;
    background-color: #ffff00;
    border-bottom-left-radius: 100%;
    
}

.red-area {
    grid-area: red-area;
    background-color: #ff1010d7;
    border-top-right-radius: 100%;
    
}

.green-area {
    grid-area: green-area;
    background-color: #137513;
    border-top-left-radius: 100%;
    
}

.selected {
    opacity: 0.5;
}